/*font-name:  Raleway   */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
}
.above-body{
    /* padding: 50px 100px; */
    background-image: linear-gradient(45deg, rgb(215, 248, 187),rgb(188, 236, 244));
}

.grey-box{
    background-color: #697c83;
    padding: 25px 50px ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-link{
    color: white;
    padding: 100px 0px;
}

.nav-links{
    list-style: none;
    display: flex;
    

}

.link{
    padding:  10px;
    color: white;
    font-family: Raleway , serif;

}

.button{
    border: 1px solid rgb(206, 205, 205);
    padding: 10px 30px ;

}